  :root {
    --body_font_family: var(--font-instrument-sans), sans-serif;
    --body_font_weight: 400;
    --body_font_style: normal;
    --body_font_line_height: 1.4;
    --body_letter_spacing: 0.0em;
    --body_font_scale: 1.0;

    --heading_font_family: var(--font-roboto-condensed), sans-serif;
    --heading_font_style: normal;
    --heading_font_weight: 700;
    --heading_font_line_height: 1.2;
    --heading_letter_spacing: -0.025em;
    --heading_font_scale: 1.0;

    --accent_font_family: var(--font-playfair-display), serif;
    --accent_font_weight: 400;
    --accent_font_style: normal;
    --accent_font_line_height: 1;
    --accent_letter_spacing: -0.075em;
    --accent_font_scale: 1.0;


    --header_background: #ffffff;
    --header_alternate_background: #ffffff;
    --header_color: #000000;
    --header_border_color: 255, 255, 255;
    --header_hover_color: #969696;
    --submenu_background: #ffffff;
    --submenu_color: #000000;
    --submenu_hover_color: #030303;
    --submenu_border: #f4f4f4;
    --header_icon_color: #000000;


    --footer_background: #000000;
    --footer_edge: #ffffff;
    --footer_border: #2a2d33;
    --footer_heading_color: #ffffff;
    --footer_color: #ffffff;
    --footer_link_color: #ffffff;
    --footer_hover_color: #ffffff;
    --footer_form_text: #ffffff;
    --footer_form_border: #ffffff;
    --footer_form_button_text: #ffffff;
    --footer_form_button_background: #000000;

    --short_menu_color: #000000;
    --short_menu_background: #acfc6d;


    --button_font_family: var(--heading_font_family);
    --button_font_weight: var(--heading_font_weight);
    --button_font_style: var(--heading_font_style);


    --button_radius: 50px;
    --button_text_transform: unset;
    --slider_arrow_width: 54px;
    --slider_icon_width: 64px;
    --slider_navigation_radius: 10px;
    --page_overlay_opacity: 0.6;
    --page_overlay_background: 0, 0, 0;


    --sale_badge_text_color: #ffffff;
    --sale_badge_bg: #000000;
    --preorder_badge_text_color: #ffffff;
    --preorder_badge_bg: #000000;
    --soldout_badge_text_color: #ffffff;
    --soldout_badge_bg: #000000;
    --custom_badge_text_color: #ffffff;
    --custom_badge_bg: #000000;
    --discount_price_text: #ffffff;
    --discount_price_background: #D63A2F;

    --color_success_text: #1F9C24;
    --color_error_text: #ff2828;
    --color_warning_text: #f9b32e;
    --color_info_text: #f9b32e;



    /* section wise */
    --top_spacing: 0;
    --bottom_spacing: 0;
    /* layout */
    --product_card_radius: 14px;
    --product_card_column_gap: 20px;
    --card_radius: 30px;
    --form_radius: 8px;
    --badge_bg: #000;
    --xsmall_text: calc(var(--body_font_scale) * 10px);
    --small_text: calc(var(--body_font_scale) * 12px);
    --text: calc(var(--body_font_scale) * 14px);
    --medium_text: calc(var(--body_font_scale) * 16px);
    --large_text: calc(var(--body_font_scale) * 18px);
    --xlarge_text: calc(var(--body_font_scale) * 20px);
    --h1: calc(var(--heading_font_scale) * 95px);
    --h2: calc(var(--heading_font_scale) * 75px);
    --h3: calc(var(--heading_font_scale) * 65px);
    --h4: calc(var(--heading_font_scale) * 45px);
    --h5: calc(var(--heading_font_scale) * 35px);
    --h6: calc(var(--heading_font_scale) * 25px);


  }


  :root,
  .scheme-primary {
    --body_background: #ffffff;

    --body_background_gradient: #ffffff;

    --body_alternate_background: #ededee;
    --border_color: #e4e4e4;
    --heading_color: #000000;
    --text_color: #191919;
    --link_color: #000000;
    --highlight_color: #000000;
    --highlight_background: rgba(0, 0, 0, 0);
    --button_background: #000000;
    --button_text: #ffffff;
    --button_border: #000000;
    --button_background_hover: #515151;
    --button_text_hover: #ffffff;
    --button_border_hover: #515151;

    --secondary_button_background: #000000;
    --secondary_button_text: #ffffff;
    --secondary_button_border: #000000;
    --secondary_button_background_hover: #ffffff;
    --secondary_button_text_hover: #000000;
    --secondary_button_border_hover: #030303;

    --image_bg: rgba(0, 0, 0, 0);
    --image_overlay_background: 0, 0, 0;

    --image_overlay_heading: #ffffff;
    --image_overlay_text: #ffffff;

    --card_background: #eeeeee;
    --edge_background: #f4f4f4;
    --product_card_background: #ffffff;
    --product_card_border: #eaeaea;
    --slider_icon_background: #dcdcdc;
    --slider_icon_color: #000000;
    --slider_arrow_border: #b7b7b7;

    --form_border: #000000;
    --form_background: #ffffff;
    --form_text: #000000;
  }

  .scheme-secondary {
    --body_background: #121316;

    --body_background_gradient: #121316;

    --body_alternate_background: #121316;
    --border_color: #cccccc;
    --heading_color: #ffffff;
    --text_color: #ffffff;
    --link_color: #ffffff;
    --highlight_color: #ffffff;
    --highlight_background: rgba(0, 0, 0, 0);
    --button_background: #ffffff;
    --button_text: #000000;
    --button_border: #ffffff;
    --button_background_hover: #dbe112;
    --button_text_hover: #000000;
    --button_border_hover: #dbe112;

    --secondary_button_background: #ffffff;
    --secondary_button_text: #000000;
    --secondary_button_border: #ffffff;
    --secondary_button_background_hover: #000000;
    --secondary_button_text_hover: #ffffff;
    --secondary_button_border_hover: #ffffff;

    --image_bg: #f0eceb;
    --image_overlay_background: 18, 19, 22;

    --image_overlay_heading: #ffffff;
    --image_overlay_text: #ffffff;

    --card_background: #eeeeee;
    --edge_background: #ffffff;
    --product_card_background: #ffffff;
    --product_card_border: #ffffff;
    --slider_icon_background: #ffffff;
    --slider_icon_color: #000000;
    --slider_arrow_border: #ffffff;

    --form_border: #bab9b9;
    --form_background: #ffffff;
    --form_text: #000000;
  }

  .scheme-tertiary {
    --body_background: #bffd3b;

    --body_background_gradient: #bffd3b;

    --body_alternate_background: #000000;
    --border_color: #000000;
    --heading_color: #000000;
    --text_color: #000000;
    --link_color: #000000;
    --highlight_color: #000000;
    --highlight_background: rgba(0, 0, 0, 0);
    --button_background: #ffffff;
    --button_text: #000000;
    --button_border: #ffffff;
    --button_background_hover: #ffffff;
    --button_text_hover: #000000;
    --button_border_hover: #000000;

    --secondary_button_background: #000000;
    --secondary_button_text: #ffffff;
    --secondary_button_border: #000000;
    --secondary_button_background_hover: #dbe112;
    --secondary_button_text_hover: #000000;
    --secondary_button_border_hover: #dbe112;

    --image_bg: #f0eceb;
    --image_overlay_background: 0, 0, 0;

    --image_overlay_heading: #ffffff;
    --image_overlay_text: #ffffff;

    --card_background: #baecbc;
    --edge_background: #f4f4f4;
    --product_card_background: #ffffff;
    --product_card_border: #ffffff;
    --slider_icon_background: #ffffff;
    --slider_icon_color: #000000;
    --slider_arrow_border: #ffffff;

    --form_border: #bab9b9;
    --form_background: #ffffff;
    --form_text: #000000;
  }

  .scheme-quaternary {
    --body_background: #f4f4f4;

    --body_background_gradient: #f4f4f4;

    --body_alternate_background: #ffffff;
    --border_color: #e9e9e9;
    --heading_color: #000000;
    --text_color: #3b3b3b;
    --link_color: #000000;
    --highlight_color: #000000;
    --highlight_background: #000000;
    --button_background: #000000;
    --button_text: #ffffff;
    --button_border: #000000;
    --button_background_hover: #93f149;
    --button_text_hover: #030303;
    --button_border_hover: #93f149;

    --secondary_button_background: #000000;
    --secondary_button_text: #ffffff;
    --secondary_button_border: #000000;
    --secondary_button_background_hover: #93f149;
    --secondary_button_text_hover: #000000;
    --secondary_button_border_hover: #93f149;

    --image_bg: rgba(0, 0, 0, 0);
    --image_overlay_background: 0, 0, 0;

    --image_overlay_heading: #ffffff;
    --image_overlay_text: #ffffff;

    --card_background: #ffffff;
    --edge_background: #ffffff;
    --product_card_background: #ffffff;
    --product_card_border: #ffffff;
    --slider_icon_background: #ffffff;
    --slider_icon_color: #000000;
    --slider_arrow_border: #ffffff;

    --form_border: #000000;
    --form_background: #f4f4f4;
    --form_text: #000000;
  }

  .scheme-quinary {
    --body_background: #1d1d1d;

    --body_background_gradient: #1d1d1d;

    --body_alternate_background: #ffffff;
    --border_color: #e9e3de;
    --heading_color: #1d1a14;
    --text_color: #545454;
    --link_color: #000000;
    --highlight_color: #0917ef;
    --highlight_background: rgba(0, 0, 0, 0);
    --button_background: #ffffff;
    --button_text: #000000;
    --button_border: #ffffff;
    --button_background_hover: #dbe112;
    --button_text_hover: #000000;
    --button_border_hover: #dbe112;

    --secondary_button_background: #000000;
    --secondary_button_text: #ffffff;
    --secondary_button_border: #000000;
    --secondary_button_background_hover: #dbe112;
    --secondary_button_text_hover: #000000;
    --secondary_button_border_hover: #dbe112;

    --image_bg: #eeeeee;
    --image_overlay_background: 29, 26, 20;

    --image_overlay_heading: #ffffff;
    --image_overlay_text: #ffffff;

    --card_background: #eeeeee;
    --edge_background: #ffffff;
    --product_card_background: #ffffff;
    --product_card_border: #eae6e4;
    --slider_icon_background: #ffffff;
    --slider_icon_color: #000000;
    --slider_arrow_border: #000000;

    --form_border: #f4f6f2;
    --form_background: #f4f6f2;
    --form_text: #000000;
  }

  .scheme-senary {
    --body_background: #ffffff;

    --body_background_gradient: #ffffff;

    --body_alternate_background: #dbe112;
    --border_color: #151522;
    --heading_color: #000000;
    --text_color: #151522;
    --link_color: #000000;
    --highlight_color: #0917ef;
    --highlight_background: rgba(0, 0, 0, 0);
    --button_background: #ffffff;
    --button_text: #000000;
    --button_border: #ffffff;
    --button_background_hover: #dbe112;
    --button_text_hover: #000000;
    --button_border_hover: #dbe112;

    --secondary_button_background: #ffffff;
    --secondary_button_text: #151522;
    --secondary_button_border: #000000;
    --secondary_button_background_hover: #dbe112;
    --secondary_button_text_hover: #000000;
    --secondary_button_border_hover: #dbe112;

    --image_bg: #ffffff;
    --image_overlay_background: 0, 0, 0;

    --image_overlay_heading: #ffffff;
    --image_overlay_text: #ffffff;

    --card_background: #000000;
    --edge_background: #ffffff;
    --product_card_background: #ffffff;
    --product_card_border: #ffffff;
    --slider_icon_background: #ffffff;
    --slider_icon_color: #000000;
    --slider_arrow_border: #ffffff;

    --form_border: #f4f6f2;
    --form_background: #f4f6f2;
    --form_text: #000000;
  }

  .scheme-septenary {
    --body_background: #ffffff;

    --body_background_gradient: #ffffff;

    --body_alternate_background: #ffffff;
    --border_color: #000000;
    --heading_color: #000000;
    --text_color: #000000;
    --link_color: #000000;
    --highlight_color: #000000;
    --highlight_background: rgba(0, 0, 0, 0);
    --button_background: #000000;
    --button_text: #ffffff;
    --button_border: #000000;
    --button_background_hover: #dbe112;
    --button_text_hover: #000000;
    --button_border_hover: #dbe112;

    --secondary_button_background: #000000;
    --secondary_button_text: #ffffff;
    --secondary_button_border: #000000;
    --secondary_button_background_hover: #dbe112;
    --secondary_button_text_hover: #000000;
    --secondary_button_border_hover: #dbe112;

    --image_bg: #f0eceb;
    --image_overlay_background: 0, 0, 0;

    --image_overlay_heading: #ffffff;
    --image_overlay_text: #ffffff;

    --card_background: #e8f1e8;
    --edge_background: #ffffff;
    --product_card_background: #ffffff;
    --product_card_border: #ededee;
    --slider_icon_background: #dcdcdc;
    --slider_icon_color: #000000;
    --slider_arrow_border: #b7b7b7;

    --form_border: #030303;
    --form_background: #ffffff;
    --form_text: #000000;
  }

  .scheme-octonary {
    --body_background: #ffffff;

    --body_background_gradient: #ffffff;

    --body_alternate_background: #f2f2f2;
    --border_color: #e4e4e4;
    --heading_color: #000000;
    --text_color: #545454;
    --link_color: #000000;
    --highlight_color: #000000;
    --highlight_background: rgba(0, 0, 0, 0);
    --button_background: #ffffff;
    --button_text: #000000;
    --button_border: #ffffff;
    --button_background_hover: #dbe112;
    --button_text_hover: #000000;
    --button_border_hover: #dbe112;

    --secondary_button_background: #000000;
    --secondary_button_text: #ffffff;
    --secondary_button_border: #000000;
    --secondary_button_background_hover: #dbe112;
    --secondary_button_text_hover: #000000;
    --secondary_button_border_hover: #dbe112;

    --image_bg: rgba(0, 0, 0, 0);
    --image_overlay_background: 0, 0, 0;

    --image_overlay_heading: #ffffff;
    --image_overlay_text: #ffffff;

    --card_background: #eeeeee;
    --edge_background: #ffffff;
    --product_card_background: #ffffff;
    --product_card_border: #ffffff;
    --slider_icon_background: #dcdcdc;
    --slider_icon_color: #000000;
    --slider_arrow_border: #b7b7b7;

    --form_border: #f4f6f2;
    --form_background: #f4f6f2;
    --form_text: #000000;
  }

  .scheme-nonary {
    --body_background: #ffffff;

    --body_background_gradient: linear-gradient(359deg, rgba(204, 207, 209, 1), rgba(255, 255, 255, 1) 100%);

    --body_alternate_background: #f2f2f2;
    --border_color: #dfdfe1;
    --heading_color: #000000;
    --text_color: #545454;
    --link_color: #000000;
    --highlight_color: #000000;
    --highlight_background: rgba(0, 0, 0, 0);
    --button_background: #ffffff;
    --button_text: #000000;
    --button_border: #ffffff;
    --button_background_hover: #dbe112;
    --button_text_hover: #000000;
    --button_border_hover: #dbe112;

    --secondary_button_background: #000000;
    --secondary_button_text: #ffffff;
    --secondary_button_border: #000000;
    --secondary_button_background_hover: #dbe112;
    --secondary_button_text_hover: #000000;
    --secondary_button_border_hover: #dbe112;

    --image_bg: rgba(0, 0, 0, 0);
    --image_overlay_background: 0, 0, 0;

    --image_overlay_heading: #ffffff;
    --image_overlay_text: #ffffff;

    --card_background: #eeeeee;
    --edge_background: #ffffff;
    --product_card_background: #ffffff;
    --product_card_border: #ffffff;
    --slider_icon_background: #dcdcdc;
    --slider_icon_color: #000000;
    --slider_arrow_border: #b7b7b7;

    --form_border: #f4f6f2;
    --form_background: #f4f6f2;
    --form_text: #000000;
  }

  .scheme-denary {
    --body_background: #ffffff;

    --body_background_gradient: #ffffff;

    --body_alternate_background: #f1f1f1;
    --border_color: #030303;
    --heading_color: #000000;
    --text_color: #2e2e2e;
    --link_color: #000000;
    --highlight_color: #000000;
    --highlight_background: rgba(0, 0, 0, 0);
    --button_background: #000000;
    --button_text: #ffffff;
    --button_border: #000000;
    --button_background_hover: #dbe112;
    --button_text_hover: #000000;
    --button_border_hover: #dbe112;

    --secondary_button_background: #000000;
    --secondary_button_text: #ffffff;
    --secondary_button_border: #000000;
    --secondary_button_background_hover: #dbe112;
    --secondary_button_text_hover: #000000;
    --secondary_button_border_hover: #dbe112;

    --image_bg: rgba(0, 0, 0, 0);
    --image_overlay_background: 0, 0, 0;

    --image_overlay_heading: #ffffff;
    --image_overlay_text: #ffffff;

    --card_background: #eeeeee;
    --edge_background: #ffffff;
    --product_card_background: #ffffff;
    --product_card_border: #ffffff;
    --slider_icon_background: #ffffff;
    --slider_icon_color: #000000;
    --slider_arrow_border: #000000;

    --form_border: #030303;
    --form_background: #ffffff;
    --form_text: #000000;
  }

  .scheme-undenary {
    --body_background: #000000;

    --body_background_gradient: #000000;

    --body_alternate_background: #acfc6d;
    --border_color: #e4e4e4;
    --heading_color: #ffffff;
    --text_color: #faf7f6;
    --link_color: #000000;
    --highlight_color: #000000;
    --highlight_background: rgba(0, 0, 0, 0);
    --button_background: #acfc6d;
    --button_text: #000000;
    --button_border: #000000;
    --button_background_hover: #dbe112;
    --button_text_hover: #000000;
    --button_border_hover: #dbe112;

    --secondary_button_background: #191919;
    --secondary_button_text: #ffffff;
    --secondary_button_border: #191919;
    --secondary_button_background_hover: #dbe112;
    --secondary_button_text_hover: #000000;
    --secondary_button_border_hover: #dbe112;

    --image_bg: rgba(0, 0, 0, 0);
    --image_overlay_background: 0, 0, 0;

    --image_overlay_heading: #ffffff;
    --image_overlay_text: #ffffff;

    --card_background: #eeeeee;
    --edge_background: #ffffff;
    --product_card_background: #ffffff;
    --product_card_border: #ffffff;
    --slider_icon_background: #dcdcdc;
    --slider_icon_color: #000000;
    --slider_arrow_border: #b7b7b7;

    --form_border: #f4f6f2;
    --form_background: #f4f6f2;
    --form_text: #000000;
  }

  .scheme-duodenary {
    --body_background: #f5f3f1;

    --body_background_gradient: #f5f3f1;

    --body_alternate_background: #ffffff;
    --border_color: #030303;
    --heading_color: #000000;
    --text_color: #030303;
    --link_color: #000000;
    --highlight_color: #000000;
    --highlight_background: rgba(0, 0, 0, 0);
    --button_background: #000000;
    --button_text: #ffffff;
    --button_border: #000000;
    --button_background_hover: #dbe112;
    --button_text_hover: #000000;
    --button_border_hover: #dbe112;

    --secondary_button_background: #000000;
    --secondary_button_text: #ffffff;
    --secondary_button_border: #000000;
    --secondary_button_background_hover: #dbe112;
    --secondary_button_text_hover: #000000;
    --secondary_button_border_hover: #dbe112;

    --image_bg: rgba(0, 0, 0, 0);
    --image_overlay_background: 0, 0, 0;

    --image_overlay_heading: #ffffff;
    --image_overlay_text: #ffffff;

    --card_background: #eeeeee;
    --edge_background: #ffffff;
    --product_card_background: #ffffff;
    --product_card_border: #ffffff;
    --slider_icon_background: #dcdcdc;
    --slider_icon_color: #000000;
    --slider_arrow_border: #b7b7b7;

    --form_border: #030303;
    --form_background: #ffffff;
    --form_text: #000000;
  }

  .scheme-tredenary {
    --body_background: #ededee;

    --body_background_gradient: #ededee;

    --body_alternate_background: #ffffff;
    --border_color: #c2c2c2;
    --heading_color: #000000;
    --text_color: #303030;
    --link_color: #000000;
    --highlight_color: #000000;
    --highlight_background: rgba(0, 0, 0, 0);
    --button_background: #000000;
    --button_text: #ffffff;
    --button_border: #000000;
    --button_background_hover: #515151;
    --button_text_hover: #ffffff;
    --button_border_hover: #515151;

    --secondary_button_background: #000000;
    --secondary_button_text: #ffffff;
    --secondary_button_border: #000000;
    --secondary_button_background_hover: #ffffff;
    --secondary_button_text_hover: #000000;
    --secondary_button_border_hover: #030303;

    --image_bg: rgba(0, 0, 0, 0);
    --image_overlay_background: 0, 0, 0;

    --image_overlay_heading: #ffffff;
    --image_overlay_text: #ffffff;

    --card_background: #eeeeee;
    --edge_background: #ffffff;
    --product_card_background: #ffffff;
    --product_card_border: #ededee;
    --slider_icon_background: #dcdcdc;
    --slider_icon_color: #000000;
    --slider_arrow_border: #b7b7b7;

    --form_border: #000000;
    --form_background: #ffffff;
    --form_text: #000000;
  }

  .scheme-quattuordenary {
    --body_background: #1d1f25;

    --body_background_gradient: #1d1f25;

    --body_alternate_background: #ffffff;
    --border_color: #e4e4e4;
    --heading_color: #ffffff;
    --text_color: #d1d1d1;
    --link_color: #acfc6d;
    --highlight_color: #93f149;
    --highlight_background: rgba(0, 0, 0, 0);
    --button_background: #acfc6d;
    --button_text: #030303;
    --button_border: #acfc6d;
    --button_background_hover: #515151;
    --button_text_hover: #ffffff;
    --button_border_hover: #515151;

    --secondary_button_background: #202020;
    --secondary_button_text: #ffffff;
    --secondary_button_border: #202020;
    --secondary_button_background_hover: #ffffff;
    --secondary_button_text_hover: #000000;
    --secondary_button_border_hover: #ffffff;

    --image_bg: rgba(0, 0, 0, 0);
    --image_overlay_background: 0, 0, 0;

    --image_overlay_heading: #ffffff;
    --image_overlay_text: #ffffff;

    --card_background: #eeeeee;
    --edge_background: #ffffff;
    --product_card_background: #ffffff;
    --product_card_border: #ffffff;
    --slider_icon_background: #dcdcdc;
    --slider_icon_color: #000000;
    --slider_arrow_border: #b7b7b7;

    --form_border: #000000;
    --form_background: #ffffff;
    --form_text: #000000;
  }

  .scheme-quindenary {
    --body_background: #d2d2d2;

    --body_background_gradient: #d2d2d2;

    --body_alternate_background: #ededee;
    --border_color: #e4e4e4;
    --heading_color: #000000;
    --text_color: #191919;
    --link_color: #000000;
    --highlight_color: #b6b5b5;
    --highlight_background: #ec3737;
    --button_background: #000000;
    --button_text: #ffffff;
    --button_border: #000000;
    --button_background_hover: #515151;
    --button_text_hover: #ffffff;
    --button_border_hover: #515151;

    --secondary_button_background: #000000;
    --secondary_button_text: #ffffff;
    --secondary_button_border: #000000;
    --secondary_button_background_hover: #ffffff;
    --secondary_button_text_hover: #000000;
    --secondary_button_border_hover: #030303;

    --image_bg: rgba(0, 0, 0, 0);
    --image_overlay_background: 0, 0, 0;

    --image_overlay_heading: #ffffff;
    --image_overlay_text: #ffffff;

    --card_background: #eeeeee;
    --edge_background: #ffffff;
    --product_card_background: #ffffff;
    --product_card_border: #ffffff;
    --slider_icon_background: #dcdcdc;
    --slider_icon_color: #000000;
    --slider_arrow_border: #b7b7b7;

    --form_border: #000000;
    --form_background: #ffffff;
    --form_text: #000000;
  }

  .scheme-sexdenary {
    --body_background: #121212;

    --body_background_gradient: #121212;

    --body_alternate_background: #ededee;
    --border_color: #e4e4e4;
    --heading_color: #ededed;
    --text_color: #8f8f8f;
    --link_color: #000000;
    --highlight_color: #acfc6d;
    --highlight_background: rgba(0, 0, 0, 0);
    --button_background: #000000;
    --button_text: #8f8f8f;
    --button_border: #8f8f8f;
    --button_background_hover: #ffffff;
    --button_text_hover: #121212;
    --button_border_hover: #ffffff;

    --secondary_button_background: #000000;
    --secondary_button_text: #ffffff;
    --secondary_button_border: #000000;
    --secondary_button_background_hover: #ffffff;
    --secondary_button_text_hover: #000000;
    --secondary_button_border_hover: #030303;

    --image_bg: rgba(0, 0, 0, 0);
    --image_overlay_background: 0, 0, 0;

    --image_overlay_heading: #ffffff;
    --image_overlay_text: #ffffff;

    --card_background: #eeeeee;
    --edge_background: #ffffff;
    --product_card_background: #ffffff;
    --product_card_border: #ffffff;
    --slider_icon_background: #dcdcdc;
    --slider_icon_color: #000000;
    --slider_arrow_border: #b7b7b7;

    --form_border: #000000;
    --form_background: #ffffff;
    --form_text: #000000;
  }

  .scheme-septendenary {
    --body_background: #ffffff;

    --body_background_gradient: #ffffff;

    --body_alternate_background: #ededee;
    --border_color: #e4e4e4;
    --heading_color: #000000;
    --text_color: #191919;
    --link_color: #000000;
    --highlight_color: #000000;
    --highlight_background: rgba(0, 0, 0, 0);
    --button_background: #000000;
    --button_text: #ffffff;
    --button_border: #000000;
    --button_background_hover: #515151;
    --button_text_hover: #ffffff;
    --button_border_hover: #515151;

    --secondary_button_background: #000000;
    --secondary_button_text: #ffffff;
    --secondary_button_border: #000000;
    --secondary_button_background_hover: #ffffff;
    --secondary_button_text_hover: #000000;
    --secondary_button_border_hover: #030303;

    --image_bg: rgba(0, 0, 0, 0);
    --image_overlay_background: 0, 0, 0;

    --image_overlay_heading: #ffffff;
    --image_overlay_text: #ffffff;

    --card_background: #eeeeee;
    --edge_background: #ffffff;
    --product_card_background: #ffffff;
    --product_card_border: #ffffff;
    --slider_icon_background: #dcdcdc;
    --slider_icon_color: #000000;
    --slider_arrow_border: #b7b7b7;

    --form_border: #000000;
    --form_background: #ffffff;
    --form_text: #000000;
  }

  .scheme-octodenary {
    --body_background: #ffffff;

    --body_background_gradient: #ffffff;

    --body_alternate_background: #d8e0e5;
    --border_color: #e4e4e4;
    --heading_color: #000000;
    --text_color: #191919;
    --link_color: #000000;
    --highlight_color: #000000;
    --highlight_background: rgba(0, 0, 0, 0);
    --button_background: #000000;
    --button_text: #ffffff;
    --button_border: #000000;
    --button_background_hover: #515151;
    --button_text_hover: #ffffff;
    --button_border_hover: #515151;

    --secondary_button_background: #000000;
    --secondary_button_text: #ffffff;
    --secondary_button_border: #000000;
    --secondary_button_background_hover: #ffffff;
    --secondary_button_text_hover: #000000;
    --secondary_button_border_hover: #030303;

    --image_bg: rgba(0, 0, 0, 0);
    --image_overlay_background: 0, 0, 0;

    --image_overlay_heading: #ffffff;
    --image_overlay_text: #ffffff;

    --card_background: #e4e6e0;
    --edge_background: #ffffff;
    --product_card_background: #ffffff;
    --product_card_border: #eaeaea;
    --slider_icon_background: #dcdcdc;
    --slider_icon_color: #000000;
    --slider_arrow_border: #b7b7b7;

    --form_border: #000000;
    --form_background: #ffffff;
    --form_text: #000000;
  }

  .scheme-novemdenary {
    --body_background: #372323;

    --body_background_gradient: #372323;

    --body_alternate_background: #ededee;
    --border_color: #e4e4e4;
    --heading_color: #ffffff;
    --text_color: #ffffff;
    --link_color: #000000;
    --highlight_color: #b49898;
    --highlight_background: rgba(0, 0, 0, 0);
    --button_background: #d7cbc0;
    --button_text: #281a1a;
    --button_border: #d7cbc0;
    --button_background_hover: #ffffff;
    --button_text_hover: #281a1a;
    --button_border_hover: #ffffff;

    --secondary_button_background: #000000;
    --secondary_button_text: #ffffff;
    --secondary_button_border: #000000;
    --secondary_button_background_hover: #ffffff;
    --secondary_button_text_hover: #000000;
    --secondary_button_border_hover: #030303;

    --image_bg: rgba(0, 0, 0, 0);
    --image_overlay_background: 0, 0, 0;

    --image_overlay_heading: #ffffff;
    --image_overlay_text: #ffffff;

    --card_background: #eeeeee;
    --edge_background: #ffffff;
    --product_card_background: #ffffff;
    --product_card_border: #eaeaea;
    --slider_icon_background: #dcdcdc;
    --slider_icon_color: #000000;
    --slider_arrow_border: #b7b7b7;

    --form_border: #000000;
    --form_background: #ffffff;
    --form_text: #000000;
  }

  .scheme-vigenary {
    --body_background: #360e1d;

    --body_background_gradient: #360e1d;

    --body_alternate_background: #ededee;
    --border_color: #e4e4e4;
    --heading_color: #ffffff;
    --text_color: #ffffff;
    --link_color: #000000;
    --highlight_color: #aa5d86;
    --highlight_background: rgba(0, 0, 0, 0);
    --button_background: #ffd7f4;
    --button_text: #000000;
    --button_border: #000000;
    --button_background_hover: #ffffff;
    --button_text_hover: #000000;
    --button_border_hover: #ffffff;

    --secondary_button_background: #000000;
    --secondary_button_text: #ffffff;
    --secondary_button_border: #000000;
    --secondary_button_background_hover: #ffffff;
    --secondary_button_text_hover: #000000;
    --secondary_button_border_hover: #030303;

    --image_bg: rgba(0, 0, 0, 0);
    --image_overlay_background: 0, 0, 0;

    --image_overlay_heading: #ffffff;
    --image_overlay_text: #ffffff;

    --card_background: #eeeeee;
    --edge_background: #ffffff;
    --product_card_background: #ffffff;
    --product_card_border: #eaeaea;
    --slider_icon_background: #dcdcdc;
    --slider_icon_color: #000000;
    --slider_arrow_border: #b7b7b7;

    --form_border: #000000;
    --form_background: #ffffff;
    --form_text: #000000;
  }

  .scheme-unvigenary {
    --body_background: #502315;

    --body_background_gradient: #502315;

    --body_alternate_background: #ededee;
    --border_color: #e4e4e4;
    --heading_color: #ffffff;
    --text_color: #ffffff;
    --link_color: #000000;
    --highlight_color: #e6a086;
    --highlight_background: rgba(0, 0, 0, 0);
    --button_background: #e6a086;
    --button_text: #000000;
    --button_border: #e6a086;
    --button_background_hover: #ffffff;
    --button_text_hover: #000000;
    --button_border_hover: #ffffff;

    --secondary_button_background: #000000;
    --secondary_button_text: #ffffff;
    --secondary_button_border: #000000;
    --secondary_button_background_hover: #ffffff;
    --secondary_button_text_hover: #000000;
    --secondary_button_border_hover: #030303;

    --image_bg: rgba(0, 0, 0, 0);
    --image_overlay_background: 0, 0, 0;

    --image_overlay_heading: #ffffff;
    --image_overlay_text: #ffffff;

    --card_background: #eeeeee;
    --edge_background: #ffffff;
    --product_card_background: #ffffff;
    --product_card_border: #eaeaea;
    --slider_icon_background: #dcdcdc;
    --slider_icon_color: #000000;
    --slider_arrow_border: #b7b7b7;

    --form_border: #000000;
    --form_background: #ffffff;
    --form_text: #000000;
  }




  [data-button-char]:nth-child(0) {
    transition-delay: 0.0s !important;
  }


  [data-button-char]:nth-child(1) {
    transition-delay: 0.05s !important;
  }


  [data-button-char]:nth-child(2) {
    transition-delay: 0.1s !important;
  }


  [data-button-char]:nth-child(3) {
    transition-delay: 0.15s !important;
  }


  [data-button-char]:nth-child(4) {
    transition-delay: 0.2s !important;
  }


  [data-button-char]:nth-child(5) {
    transition-delay: 0.25s !important;
  }


  [data-button-char]:nth-child(6) {
    transition-delay: 0.3s !important;
  }


  [data-button-char]:nth-child(7) {
    transition-delay: 0.35s !important;
  }


  [data-button-char]:nth-child(8) {
    transition-delay: 0.4s !important;
  }


  [data-button-char]:nth-child(9) {
    transition-delay: 0.45s !important;
  }


  [data-button-char]:nth-child(10) {
    transition-delay: 0.5s !important;
  }


  [data-button-char]:nth-child(11) {
    transition-delay: 0.55s !important;
  }


  [data-button-char]:nth-child(12) {
    transition-delay: 0.6s !important;
  }


  [data-button-char]:nth-child(13) {
    transition-delay: 0.65s !important;
  }


  [data-button-char]:nth-child(14) {
    transition-delay: 0.7s !important;
  }


  [data-button-char]:nth-child(15) {
    transition-delay: 0.75s !important;
  }


  [data-button-char]:nth-child(16) {
    transition-delay: 0.8s !important;
  }


  [data-button-char]:nth-child(17) {
    transition-delay: 0.85s !important;
  }


  [data-button-char]:nth-child(18) {
    transition-delay: 0.9s !important;
  }


  [data-button-char]:nth-child(19) {
    transition-delay: 0.95s !important;
  }


  [data-button-char]:nth-child(20) {
    transition-delay: 1.0s !important;
  }


  [data-button-char]:nth-child(21) {
    transition-delay: 1.05s !important;
  }


  [data-button-char]:nth-child(22) {
    transition-delay: 1.1s !important;
  }


  [data-button-char]:nth-child(23) {
    transition-delay: 1.15s !important;
  }


  [data-button-char]:nth-child(24) {
    transition-delay: 1.2s !important;
  }


  [data-button-char]:nth-child(25) {
    transition-delay: 1.25s !important;
  }


  [data-button-char]:nth-child(26) {
    transition-delay: 1.3s !important;
  }


  [data-button-char]:nth-child(27) {
    transition-delay: 1.35s !important;
  }


  [data-button-char]:nth-child(28) {
    transition-delay: 1.4s !important;
  }


  [data-button-char]:nth-child(29) {
    transition-delay: 1.45s !important;
  }


  [data-button-char]:nth-child(30) {
    transition-delay: 1.5s !important;
  }


  [data-button-char]:nth-child(31) {
    transition-delay: 1.55s !important;
  }


  [data-button-char]:nth-child(32) {
    transition-delay: 1.6s !important;
  }


  [data-button-char]:nth-child(33) {
    transition-delay: 1.65s !important;
  }


  [data-button-char]:nth-child(34) {
    transition-delay: 1.7s !important;
  }


  [data-button-char]:nth-child(35) {
    transition-delay: 1.75s !important;
  }


  [data-button-char]:nth-child(36) {
    transition-delay: 1.8s !important;
  }


  [data-button-char]:nth-child(37) {
    transition-delay: 1.85s !important;
  }


  [data-button-char]:nth-child(38) {
    transition-delay: 1.9s !important;
  }


  [data-button-char]:nth-child(39) {
    transition-delay: 1.95s !important;
  }


  [data-button-char]:nth-child(40) {
    transition-delay: 2.0s !important;
  }


  [data-button-char]:nth-child(41) {
    transition-delay: 2.05s !important;
  }


  [data-button-char]:nth-child(42) {
    transition-delay: 2.1s !important;
  }


  [data-button-char]:nth-child(43) {
    transition-delay: 2.15s !important;
  }


  [data-button-char]:nth-child(44) {
    transition-delay: 2.2s !important;
  }


  [data-button-char]:nth-child(45) {
    transition-delay: 2.25s !important;
  }


  [data-button-char]:nth-child(46) {
    transition-delay: 2.3s !important;
  }


  [data-button-char]:nth-child(47) {
    transition-delay: 2.35s !important;
  }


  [data-button-char]:nth-child(48) {
    transition-delay: 2.4s !important;
  }


  [data-button-char]:nth-child(49) {
    transition-delay: 2.45s !important;
  }


  [data-button-char]:nth-child(50) {
    transition-delay: 2.5s !important;
  }


  [data-button-char]:nth-child(51) {
    transition-delay: 2.55s !important;
  }


  [data-button-char]:nth-child(52) {
    transition-delay: 2.6s !important;
  }


  [data-button-char]:nth-child(53) {
    transition-delay: 2.65s !important;
  }


  [data-button-char]:nth-child(54) {
    transition-delay: 2.7s !important;
  }


  [data-button-char]:nth-child(55) {
    transition-delay: 2.75s !important;
  }


  [data-button-char]:nth-child(56) {
    transition-delay: 2.8s !important;
  }


  [data-button-char]:nth-child(57) {
    transition-delay: 2.85s !important;
  }


  [data-button-char]:nth-child(58) {
    transition-delay: 2.9s !important;
  }


  [data-button-char]:nth-child(59) {
    transition-delay: 2.95s !important;
  }


  [data-button-char]:nth-child(60) {
    transition-delay: 3.0s !important;
  }


  [data-button-char]:nth-child(61) {
    transition-delay: 3.05s !important;
  }


  [data-button-char]:nth-child(62) {
    transition-delay: 3.1s !important;
  }


  [data-button-char]:nth-child(63) {
    transition-delay: 3.15s !important;
  }


  [data-button-char]:nth-child(64) {
    transition-delay: 3.2s !important;
  }


  [data-button-char]:nth-child(65) {
    transition-delay: 3.25s !important;
  }


  [data-button-char]:nth-child(66) {
    transition-delay: 3.3s !important;
  }


  [data-button-char]:nth-child(67) {
    transition-delay: 3.35s !important;
  }


  [data-button-char]:nth-child(68) {
    transition-delay: 3.4s !important;
  }


  [data-button-char]:nth-child(69) {
    transition-delay: 3.45s !important;
  }


  [data-button-char]:nth-child(70) {
    transition-delay: 3.5s !important;
  }


  [data-button-char]:nth-child(71) {
    transition-delay: 3.55s !important;
  }


  [data-button-char]:nth-child(72) {
    transition-delay: 3.6s !important;
  }


  [data-button-char]:nth-child(73) {
    transition-delay: 3.65s !important;
  }


  [data-button-char]:nth-child(74) {
    transition-delay: 3.7s !important;
  }


  [data-button-char]:nth-child(75) {
    transition-delay: 3.75s !important;
  }


  [data-button-char]:nth-child(76) {
    transition-delay: 3.8s !important;
  }


  [data-button-char]:nth-child(77) {
    transition-delay: 3.85s !important;
  }


  [data-button-char]:nth-child(78) {
    transition-delay: 3.9s !important;
  }


  [data-button-char]:nth-child(79) {
    transition-delay: 3.95s !important;
  }


  [data-button-char]:nth-child(80) {
    transition-delay: 4.0s !important;
  }


  [data-button-char]:nth-child(81) {
    transition-delay: 4.05s !important;
  }


  [data-button-char]:nth-child(82) {
    transition-delay: 4.1s !important;
  }


  [data-button-char]:nth-child(83) {
    transition-delay: 4.15s !important;
  }


  [data-button-char]:nth-child(84) {
    transition-delay: 4.2s !important;
  }


  [data-button-char]:nth-child(85) {
    transition-delay: 4.25s !important;
  }


  [data-button-char]:nth-child(86) {
    transition-delay: 4.3s !important;
  }


  [data-button-char]:nth-child(87) {
    transition-delay: 4.35s !important;
  }


  [data-button-char]:nth-child(88) {
    transition-delay: 4.4s !important;
  }


  [data-button-char]:nth-child(89) {
    transition-delay: 4.45s !important;
  }


  [data-button-char]:nth-child(90) {
    transition-delay: 4.5s !important;
  }


  [data-button-char]:nth-child(91) {
    transition-delay: 4.55s !important;
  }


  [data-button-char]:nth-child(92) {
    transition-delay: 4.6s !important;
  }


  [data-button-char]:nth-child(93) {
    transition-delay: 4.65s !important;
  }


  [data-button-char]:nth-child(94) {
    transition-delay: 4.7s !important;
  }


  [data-button-char]:nth-child(95) {
    transition-delay: 4.75s !important;
  }


  [data-button-char]:nth-child(96) {
    transition-delay: 4.8s !important;
  }


  [data-button-char]:nth-child(97) {
    transition-delay: 4.85s !important;
  }


  [data-button-char]:nth-child(98) {
    transition-delay: 4.9s !important;
  }


  [data-button-char]:nth-child(99) {
    transition-delay: 4.95s !important;
  }


  [data-button-char]:nth-child(100) {
    transition-delay: 5.0s !important;
  }


  [data-button-char]:nth-child(101) {
    transition-delay: 5.05s !important;
  }


  [data-button-char]:nth-child(102) {
    transition-delay: 5.1s !important;
  }


  [data-button-char]:nth-child(103) {
    transition-delay: 5.15s !important;
  }


  [data-button-char]:nth-child(104) {
    transition-delay: 5.2s !important;
  }


  [data-button-char]:nth-child(105) {
    transition-delay: 5.25s !important;
  }


  [data-button-char]:nth-child(106) {
    transition-delay: 5.3s !important;
  }


  [data-button-char]:nth-child(107) {
    transition-delay: 5.35s !important;
  }


  [data-button-char]:nth-child(108) {
    transition-delay: 5.4s !important;
  }


  [data-button-char]:nth-child(109) {
    transition-delay: 5.45s !important;
  }


  [data-button-char]:nth-child(110) {
    transition-delay: 5.5s !important;
  }


  [data-button-char]:nth-child(111) {
    transition-delay: 5.55s !important;
  }


  [data-button-char]:nth-child(112) {
    transition-delay: 5.6s !important;
  }


  [data-button-char]:nth-child(113) {
    transition-delay: 5.65s !important;
  }


  [data-button-char]:nth-child(114) {
    transition-delay: 5.7s !important;
  }


  [data-button-char]:nth-child(115) {
    transition-delay: 5.75s !important;
  }


  [data-button-char]:nth-child(116) {
    transition-delay: 5.8s !important;
  }


  [data-button-char]:nth-child(117) {
    transition-delay: 5.85s !important;
  }


  [data-button-char]:nth-child(118) {
    transition-delay: 5.9s !important;
  }


  [data-button-char]:nth-child(119) {
    transition-delay: 5.95s !important;
  }


  [data-button-char]:nth-child(120) {
    transition-delay: 6.0s !important;
  }


  [data-button-char]:nth-child(121) {
    transition-delay: 6.05s !important;
  }


  [data-button-char]:nth-child(122) {
    transition-delay: 6.1s !important;
  }


  [data-button-char]:nth-child(123) {
    transition-delay: 6.15s !important;
  }


  [data-button-char]:nth-child(124) {
    transition-delay: 6.2s !important;
  }


  [data-button-char]:nth-child(125) {
    transition-delay: 6.25s !important;
  }


  [data-button-char]:nth-child(126) {
    transition-delay: 6.3s !important;
  }


  [data-button-char]:nth-child(127) {
    transition-delay: 6.35s !important;
  }


  [data-button-char]:nth-child(128) {
    transition-delay: 6.4s !important;
  }


  [data-button-char]:nth-child(129) {
    transition-delay: 6.45s !important;
  }


  [data-button-char]:nth-child(130) {
    transition-delay: 6.5s !important;
  }


  [data-button-char]:nth-child(131) {
    transition-delay: 6.55s !important;
  }


  [data-button-char]:nth-child(132) {
    transition-delay: 6.6s !important;
  }


  [data-button-char]:nth-child(133) {
    transition-delay: 6.65s !important;
  }


  [data-button-char]:nth-child(134) {
    transition-delay: 6.7s !important;
  }


  [data-button-char]:nth-child(135) {
    transition-delay: 6.75s !important;
  }


  [data-button-char]:nth-child(136) {
    transition-delay: 6.8s !important;
  }


  [data-button-char]:nth-child(137) {
    transition-delay: 6.85s !important;
  }


  [data-button-char]:nth-child(138) {
    transition-delay: 6.9s !important;
  }


  [data-button-char]:nth-child(139) {
    transition-delay: 6.95s !important;
  }


  [data-button-char]:nth-child(140) {
    transition-delay: 7.0s !important;
  }


  [data-button-char]:nth-child(141) {
    transition-delay: 7.05s !important;
  }


  [data-button-char]:nth-child(142) {
    transition-delay: 7.1s !important;
  }


  [data-button-char]:nth-child(143) {
    transition-delay: 7.15s !important;
  }


  [data-button-char]:nth-child(144) {
    transition-delay: 7.2s !important;
  }


  [data-button-char]:nth-child(145) {
    transition-delay: 7.25s !important;
  }


  [data-button-char]:nth-child(146) {
    transition-delay: 7.3s !important;
  }


  [data-button-char]:nth-child(147) {
    transition-delay: 7.35s !important;
  }


  [data-button-char]:nth-child(148) {
    transition-delay: 7.4s !important;
  }


  [data-button-char]:nth-child(149) {
    transition-delay: 7.45s !important;
  }


  [data-button-char]:nth-child(150) {
    transition-delay: 7.5s !important;
  }




  .border-width-1 {
    border-width: 1px;
  }

  .border-width-2 {
    border-width: 2px;
  }

  .border-width-3 {
    border-width: 3px;
  }

  .border-width-4 {
    border-width: 4px;
  }

  .border-width-5 {
    border-width: 5px;
  }

  .border-width-6 {
    border-width: 6px;
  }

  .border-width-7 {
    border-width: 7px;
  }

  .border-width-8 {
    border-width: 8px;
  }

  .border-width-9 {
    border-width: 9px;
  }

  .border-width-10 {
    border-width: 10px;
  }

  .border-width-11 {
    border-width: 11px;
  }

  .border-width-12 {
    border-width: 12px;
  }

  .border-width-13 {
    border-width: 13px;
  }

  .border-width-14 {
    border-width: 14px;
  }

  .border-width-15 {
    border-width: 15px;
  }

  .border-width-16 {
    border-width: 16px;
  }

  .border-width-17 {
    border-width: 17px;
  }

  .border-width-18 {
    border-width: 18px;
  }

  .border-width-19 {
    border-width: 19px;
  }

  .border-width-20 {
    border-width: 20px;
  }

  .border-width-21 {
    border-width: 21px;
  }

  .border-width-22 {
    border-width: 22px;
  }

  .border-width-23 {
    border-width: 23px;
  }

  .border-width-24 {
    border-width: 24px;
  }

  .border-width-25 {
    border-width: 25px;
  }

  .border-width-26 {
    border-width: 26px;
  }

  .border-width-27 {
    border-width: 27px;
  }

  .border-width-28 {
    border-width: 28px;
  }

  .border-width-29 {
    border-width: 29px;
  }

  .border-width-30 {
    border-width: 30px;
  }

  .border-width-31 {
    border-width: 31px;
  }

  .border-width-32 {
    border-width: 32px;
  }

  .border-width-33 {
    border-width: 33px;
  }

  .border-width-34 {
    border-width: 34px;
  }

  .border-width-35 {
    border-width: 35px;
  }

  .border-width-36 {
    border-width: 36px;
  }

  .border-width-37 {
    border-width: 37px;
  }

  .border-width-38 {
    border-width: 38px;
  }

  .border-width-39 {
    border-width: 39px;
  }

  .border-width-40 {
    border-width: 40px;
  }

  .border-width-41 {
    border-width: 41px;
  }

  .border-width-42 {
    border-width: 42px;
  }

  .border-width-43 {
    border-width: 43px;
  }

  .border-width-44 {
    border-width: 44px;
  }

  .border-width-45 {
    border-width: 45px;
  }

  .border-width-46 {
    border-width: 46px;
  }

  .border-width-47 {
    border-width: 47px;
  }

  .border-width-48 {
    border-width: 48px;
  }

  .border-width-49 {
    border-width: 49px;
  }

  .border-width-50 {
    border-width: 50px;
  }

  .border-width-51 {
    border-width: 51px;
  }

  .border-width-52 {
    border-width: 52px;
  }

  .border-width-53 {
    border-width: 53px;
  }

  .border-width-54 {
    border-width: 54px;
  }

  .border-width-55 {
    border-width: 55px;
  }

  .border-width-56 {
    border-width: 56px;
  }

  .border-width-57 {
    border-width: 57px;
  }

  .border-width-58 {
    border-width: 58px;
  }

  .border-width-59 {
    border-width: 59px;
  }

  .border-width-60 {
    border-width: 60px;
  }

  .border-width-61 {
    border-width: 61px;
  }

  .border-width-62 {
    border-width: 62px;
  }

  .border-width-63 {
    border-width: 63px;
  }

  .border-width-64 {
    border-width: 64px;
  }

  .border-width-65 {
    border-width: 65px;
  }

  .border-width-66 {
    border-width: 66px;
  }

  .border-width-67 {
    border-width: 67px;
  }

  .border-width-68 {
    border-width: 68px;
  }

  .border-width-69 {
    border-width: 69px;
  }

  .border-width-70 {
    border-width: 70px;
  }

  .border-width-71 {
    border-width: 71px;
  }

  .border-width-72 {
    border-width: 72px;
  }

  .border-width-73 {
    border-width: 73px;
  }

  .border-width-74 {
    border-width: 74px;
  }

  .border-width-75 {
    border-width: 75px;
  }

  .border-width-76 {
    border-width: 76px;
  }

  .border-width-77 {
    border-width: 77px;
  }

  .border-width-78 {
    border-width: 78px;
  }

  .border-width-79 {
    border-width: 79px;
  }

  .border-width-80 {
    border-width: 80px;
  }

  .border-width-81 {
    border-width: 81px;
  }

  .border-width-82 {
    border-width: 82px;
  }

  .border-width-83 {
    border-width: 83px;
  }

  .border-width-84 {
    border-width: 84px;
  }

  .border-width-85 {
    border-width: 85px;
  }

  .border-width-86 {
    border-width: 86px;
  }

  .border-width-87 {
    border-width: 87px;
  }

  .border-width-88 {
    border-width: 88px;
  }

  .border-width-89 {
    border-width: 89px;
  }

  .border-width-90 {
    border-width: 90px;
  }

  .border-width-91 {
    border-width: 91px;
  }

  .border-width-92 {
    border-width: 92px;
  }

  .border-width-93 {
    border-width: 93px;
  }

  .border-width-94 {
    border-width: 94px;
  }

  .border-width-95 {
    border-width: 95px;
  }

  .border-width-96 {
    border-width: 96px;
  }

  .border-width-97 {
    border-width: 97px;
  }

  .border-width-98 {
    border-width: 98px;
  }

  .border-width-99 {
    border-width: 99px;
  }

  .border-width-100 {
    border-width: 100px;
  }






  .product--variants-list.color-option .variant--item .variant-item-name[data-pallet-color="honey lime"],
  .trending-products--swatch-inner[data-pallet-color="honey lime"] {
    background-color: #DECCBB !important;
  }


  .product--variants-list.color-option .variant--item .variant-item-name[data-pallet-color="stone brown"],
  .trending-products--swatch-inner[data-pallet-color="stone brown"] {
    background-color: #B89884 !important;
  }


  .product--variants-list.color-option .variant--item .variant-item-name[data-pallet-color="coffee"],
  .trending-products--swatch-inner[data-pallet-color="coffee"] {
    background-color: #724E36 !important;
  }


  .product--variants-list.color-option .variant--item .variant-item-name[data-pallet-color="chicory root"],
  .trending-products--swatch-inner[data-pallet-color="chicory root"] {
    background-color: #5C413E !important;
  }


  .product--variants-list.color-option .variant--item .variant-item-name[data-pallet-color="muscatel"],
  .trending-products--swatch-inner[data-pallet-color="muscatel"] {
    background-color: #7B6866 !important;
  }


  .product--variants-list.color-option .variant--item .variant-item-name[data-pallet-color="robeson rose"],
  .trending-products--swatch-inner[data-pallet-color="robeson rose"] {
    background-color: #66514F !important;
  }


  .product--variants-list.color-option .variant--item .variant-item-name[data-pallet-color="ground coffee"],
  .trending-products--swatch-inner[data-pallet-color="ground coffee"] {
    background-color: #61544B !important;
  }


  .product--variants-list.color-option .variant--item .variant-item-name[data-pallet-color="alga moss"],
  .trending-products--swatch-inner[data-pallet-color="alga moss"] {
    background-color: #8CA98C !important;
  }


  .product--variants-list.color-option .variant--item .variant-item-name[data-pallet-color="blissful blue"],
  .trending-products--swatch-inner[data-pallet-color="blissful blue"] {
    background-color: #B1C8DA !important;
  }


  .product--variants-list.color-option .variant--item .variant-item-name[data-pallet-color="violet bouquet"],
  .trending-products--swatch-inner[data-pallet-color="violet bouquet"] {
    background-color: #B8AEC6 !important;
  }


  .product--variants-list.color-option .variant--item .variant-item-name[data-pallet-color="whomp grey"],
  .trending-products--swatch-inner[data-pallet-color="whomp grey"] {
    background-color: #BDC0D0 !important;
  }


  .product--variants-list.color-option .variant--item .variant-item-name[data-pallet-color="champion blue"],
  .trending-products--swatch-inner[data-pallet-color="champion blue"] {
    background-color: #5D668B !important;
  }


  .product--variants-list.color-option .variant--item .variant-item-name[data-pallet-color="blackwater"],
  .trending-products--swatch-inner[data-pallet-color="blackwater"] {
    background-color: #545765 !important;
  }


  .product--variants-list.color-option .variant--item .variant-item-name[data-pallet-color="ahoy"],
  .trending-products--swatch-inner[data-pallet-color="ahoy"] {
    background-color: #2B2F49 !important;
  }


  .product--variants-list.color-option .variant--item .variant-item-name[data-pallet-color="purple ode"],
  .trending-products--swatch-inner[data-pallet-color="purple ode"] {
    background-color: #434C7D !important;
  }


  .product--variants-list.color-option .variant--item .variant-item-name[data-pallet-color="grey"],
  .trending-products--swatch-inner[data-pallet-color="grey"] {
    background-color: #808080 !important;
  }


  .product--variants-list.color-option .variant--item .variant-item-name[data-pallet-color="czech bakery"],
  .trending-products--swatch-inner[data-pallet-color="czech bakery"] {
    background-color: #DECAA7 !important;
  }


  .product--variants-list.color-option .variant--item .variant-item-name[data-pallet-color="clouded vision"],
  .trending-products--swatch-inner[data-pallet-color="clouded vision"] {
    background-color: #D0D0D2 !important;
  }


  .product--variants-list.color-option .variant--item .variant-item-name[data-pallet-color="cool spring"],
  .trending-products--swatch-inner[data-pallet-color="cool spring"] {
    background-color: #BAD9C6 !important;
  }


  .product--variants-list.color-option .variant--item .variant-item-name[data-pallet-color="just gorgeous"],
  .trending-products--swatch-inner[data-pallet-color="just gorgeous"] {
    background-color: #D6C3C3 !important;
  }


  @media (max-width: 991px) {
    :root {
      --h1: calc(var(--heading_font_scale) * 60px);
      --h2: calc(var(--heading_font_scale) * 45px);
      --h3: calc(var(--heading_font_scale) * 40px);
      --h4: calc(var(--heading_font_scale) * 35px);
      --h5: calc(var(--heading_font_scale) * 30px);
      --h6: calc(var(--heading_font_scale) * 24px);
    }
  }

  @media (max-width: 767px) {
    :root {
      --h1: calc(var(--heading_font_scale) * 55px);
      --h2: calc(var(--heading_font_scale) * 40px);
      --h3: calc(var(--heading_font_scale) * 35px);
      --h4: calc(var(--heading_font_scale) * 30px);
      --h5: calc(var(--heading_font_scale) * 25px);
      --h6: calc(var(--heading_font_scale) * 20px);
      --medium_text: calc(var(--body_font_scale) * 15px);
      --large_text: calc(var(--body_font_scale) * 16px);
      --xlarge_text: calc(var(--body_font_scale) * 18px);
      --slider_arrow_width: 44px;
      --slider_icon_width: 54px;
      --slider_navigation_radius: 10px;
    }
  }

  .swiper--button-wrapper.small-swiper-button {
    --slider_arrow_width: 44px;
    --slider_icon_width: 54px;
  }